//*** VISTA MOVIL INDEX
@media (max-width: 585px) {
    .container{
        width: 100%;
        height: auto;
        grid-template-areas: 
            'header'
            'main'
            'foot';

        .container__header{
            width: 100%;
            grid-area: header;
            display: flex;
            flex-direction: column;

            .header__social{
                flex-basis: 100%;
                
                .social__options{
                    display: flex;
                    flex-direction: row;
                    margin: 0;

                    .social___link{
                        margin: 0;
                        padding-top: 2rem;

                        a{
                            span{
                                display: none;
                            }
                        }
                    }
                }
            }

            .header__menu{
                .menu__options{
                    margin-top: 1rem;
                    padding-bottom: 3rem;
                }
            }
        }

        .container__main{
            width: 90%;
            grid-area: main;

            .main__content{
                width: 100%;

                .main__subtitle{
                    font-size: 3.5rem;
                }
            }
        }

        .container__foot{
            height: auto;
            width: 100%;

            .foot__content{
                flex-basis: 100%;

                h3{
                    margin-top: 2rem;
                }
            }
        }
    }

    .main__pilotos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .pilotos__tags{
            width: 70%;
            margin: 0 auto;
            margin-bottom: 5rem;
        }
    }

    .main__form{
        input[type="submit"]{
            width: 50%;
        }
    }
}
