.main__pilotos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 97%;
    padding: 2rem;
    margin: 0px auto;
    

    .pilotos__tags{
        flex-basis: 15%;
        border: 1px solid #ccc;
        text-align: center;
        box-shadow: 0px 0px 3px black;
        margin: 3rem auto;
        margin-right: 2rem;
        

        .tags__image{
            width: 100%;
            height: 155px;
        }

        .tags__apodo{
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        .tags__id{
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        .tags__description{
            font-size: 1.5rem;
            padding: 1rem;
        }
    }
}