:root {
  font-size: 10px;
}

@font-face {
  font-family: "poppins";
  src: url(assets/fonts/poppins/Poppins-Regular.ttf), format(truetype);
}
.main__pilotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 97%;
  padding: 2rem;
  margin: 0px auto;
}
.main__pilotos .pilotos__tags {
  flex-basis: 15%;
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 0px 0px 3px black;
  margin: 3rem auto;
  margin-right: 2rem;
}
.main__pilotos .pilotos__tags .tags__image {
  width: 100%;
  height: 155px;
}
.main__pilotos .pilotos__tags .tags__apodo {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.main__pilotos .pilotos__tags .tags__id {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.main__pilotos .pilotos__tags .tags__description {
  font-size: 1.5rem;
  padding: 1rem;
}

.main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__form input[type=email], .main__form input[type=text] {
  border-radius: 1rem;
  padding: 0.2rem;
  margin-bottom: 1rem;
}
.main__form textarea {
  border-radius: 1rem;
  padding: 0.2rem;
  margin-bottom: 1rem;
}
.main__form input[type=submit] {
  width: 10%;
}

.main__article {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.main__article img {
  margin: 0 auto;
  margin-top: 3rem;
  width: 500px;
  height: 500px;
  border-radius: 2rem;
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "poppins";
}

.container {
  height: auto;
  display: grid;
  grid-template-areas: "header" "header" "main" "main" "foot" "foot";
}
.container .container__header {
  width: 100%;
  grid-area: header;
  display: flex;
  flex-direction: row;
  background: #fe9900;
  background-image: linear-gradient(90deg, #feab4b, #fd893c, #fa5c2e, #ec3023, #d31121, #af0225, #af0225);
  border-bottom: 0.5rem solid red;
  margin-bottom: 3rem;
}
.container .container__header .header__social {
  flex-basis: 20%;
  display: block;
}
.container .container__header .header__social .social__options {
  font-size: 2.5rem;
  display: flex;
  width: 100%;
  margin-top: 10rem;
  flex-direction: column;
}
.container .container__header .header__social .social__options .social___link {
  flex-basis: 100%;
  display: block;
  margin: 0.5rem;
}
.container .container__header .header__social .social__options .social___link a {
  margin: 0 auto;
  display: block;
  color: black;
  text-align: center;
  border-radius: 9rem;
  width: 80%;
  transition: all 300ms;
}
.container .container__header .header__social .social__options .social___link a:hover {
  background-color: red;
  color: white;
  box-shadow: 0px 0px 3px black;
}
.container .container__header .header__logo {
  flex-basis: 60%;
  padding-top: 2rem;
  text-align: center;
}
.container .container__header .header__logo .logo__box {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  border: 0.2rem solid red;
  border-radius: 99%;
}
.container .container__header .header__logo .logo__box .logo__image {
  width: 100%;
  height: 100%;
  border-radius: 99%;
}
.container .container__header .header__logo a .logo__title {
  color: black;
  font-family: "poppins";
  font-size: 5rem;
  font-weight: bold;
  padding-bottom: 3rem;
}
.container .container__header .header__menu {
  flex-basis: 20%;
}
.container .container__header .header__menu .menu__options {
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
}
.container .container__header .header__menu .menu__options .menu__link {
  text-align: center;
  margin: 0.5rem;
}
.container .container__header .header__menu .menu__options .menu__link a {
  border-radius: 9rem;
  padding: 0.2rem 0.9rem;
  color: black;
  transition: all 300ms;
}
.container .container__header .header__menu .menu__options .menu__link a:hover {
  color: white;
  border: 1px solid black;
  background-color: #FEA549;
  box-shadow: 0px 0px 3px black;
}
.container .container__main {
  background-color: #eee;
  grid-area: main;
  margin: 0 auto;
  width: 90%;
  padding: 3rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
}
.container .container__main .main__content {
  font-size: 2rem;
}
.container .container__main .main__content .main__subtitle {
  font-size: 5rem;
  text-align: center;
  padding-bottom: 3rem;
}
.container .container__foot {
  background-color: black;
  color: white;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  padding: 2rem;
}
.container .container__foot h4 {
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 3rem;
  font-size: 1.2rem;
}
.container .container__foot .foot__content {
  flex-basis: 50%;
}
.container .container__foot .foot__content h3 {
  font-size: 3rem;
  padding-bottom: 2rem;
}
.container .container__foot .foot__content .foot__menu {
  font-size: 2rem;
}
.container .container__foot .foot__content .foot__menu .menu__options {
  margin: 0 auto;
  width: 40%;
}
.container .container__foot .foot__content .foot__menu .menu__options .menu__link {
  cursor: pointer;
  border-radius: 5rem;
  transition: all 300ms;
}
.container .container__foot .foot__content .foot__menu .menu__options .menu__link a {
  display: block;
  width: 100%;
  color: white;
}
.container .container__foot .foot__content .foot__menu .menu__options .menu__link:hover {
  background-color: #ccc;
}
.container .container__foot .foot__content .foot__menu .menu__options .menu__link:hover a {
  color: black;
}
.container .container__foot .foot__content .foot__box--image {
  width: 430px;
  height: 165px;
  margin: 0 auto;
}
.container .container__foot .foot__content .foot__box--image img {
  width: 430px;
  height: 165px;
}

@media (max-width: 360px) {
  .container {
    max-width: 360px;
    height: auto;
  }
  .container .container__header {
    max-width: 360px;
    flex-direction: column;
  }
  .container .container__header .header__social {
    flex-basis: 100%;
    margin-bottom: 3rem;
  }
  .container .container__header .header__social .social__options {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container .container__header .header__social .social__options .social___link {
    flex-basis: 30%;
  }
  .container .container__header .header__social .social__options .social___link span {
    opacity: 0;
    font-size: 0px;
  }
  .container .container__header .header__logo {
    flex-basis: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .container .container__header .header__logo .logo__box {
    margin: 0px auto !important;
  }
}

/*# sourceMappingURL=estilos.css.map */
